.pokemon-card {
  background-image: linear-gradient(
    50deg,
    hsl(0deg 0% 0%) 0%,
    hsl(0deg 0% 30%) 9%,
    hsl(0deg 0% 43%) 18%,
    hsl(0deg 0% 52%) 27%,
    hsl(270deg 3% 57%) 36%,
    hsl(271deg 13% 53%) 45%,
    hsl(273deg 26% 47%) 55%,
    hsl(277deg 55% 39%) 64%,
    hsl(303deg 92% 30%) 73%,
    hsl(325deg 90% 39%) 82%,
    hsl(341deg 89% 47%) 91%,
    hsl(0deg 100% 53%) 100%
  );
  border: 4px solid #212529;
  border-radius: 15px;
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
  position: relative;
  color: white;
  height: 33rem;
  width: 20rem;
  transition: transform ease-in 0.1s;
}

.pokemon-card--hover:hover {
  /* border-color: gold;
  box-shadow: 0 0 10px gold; */
  box-shadow: 0 0 10px 5px white;
  transform: translateY(-20px) scale(1.025);
  cursor: pointer;
}

.pokemon-card--winner {
  box-shadow: 0 0 10px 10px #3be783;
  /* transform: translateY(-20px) scale(1.025); */
}

.pokemon-card--loser {
  box-shadow: 0 0 10px 10px red;
  /* transform: translateY(-20px) scale(1.025); */
}

.pokemon-image-container {
  background-color: hsla(210, 11%, 15%, 0.75);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.pokemon-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.pokemon-details {
  flex: 1;
  width: 100%;
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.pokemon-name {
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0;
  width: 100%;
}

.pokemon-type {
  font-size: 16px;
  text-transform: uppercase;
  background-color: hsla(210, 11%, 15%, 0.75);
  padding: 3px 10px;
  border-radius: 15px;
}

.pokemon-power {
  height: 100%;
  width: 100%;
  background-color: hsla(210, 11%, 15%, 0.75);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0;
}

.stat-label {
  font-size: 1rem;
}

.stat-value {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.stat-hidden {
  font-size: 1.5rem;
  color: #dee2e6;
}
