body {
  width: 100vw;
  height: auto;
}

#pokeball-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#pokeball-area button {
  border-radius: 30px;
  border: none;
  background-color: rgb(18, 23, 18);
  width: 200px;
  height: 60px;
  color: rgb(234, 194, 244);
  font-weight: bold;
  font-size: 1em;
  margin-top: 53px;
}
#logo-area {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
  margin-top: 70px;
}
